@import '@/styles/utils.less';
.vscode-light {
  color: #000;
}
.vscode-dark {
  color: #fff;
}
.vscode-high-contrast {
  color: #3c019b;
}
.npm-manage {
  width: 100%;
  overflow-x: hidden;
  .header {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .filter {
    margin-left: 10px;
    .filter-btn {
      height: 25px;
      margin: 0 5px;
    }
    .download-icon {
      margin-left: 5px;
    }
  }

  .content {
    margin-bottom: 5px;
    padding: 0 10px;
    display: flex;
  }

  .card {
    height: 100%;
    flex: 1;
    margin-top: 10px;
    &:nth-child(1) {
      margin-right: 15px;
    }
    .title {
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      min-height: 30px;
      padding-left: 10px;
      overflow: hidden;
      font-size: 12px;
      font-weight: 500;
      line-height: 30px;
      color: var(--sideBarSectionHeader-foreground);
      // text-transform: uppercase;
      user-select: none;
      border: 1px solid var(--vscode-editorGroup-border);
    }
    .list {
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .search-list {
      .flex-box(space-between);
      border: 1px solid var(--vscode-editorGroup-border);
      border-top: none;
      .package-name {
        padding: 10px;
      }
      .package-version {
        .version {
          .flex-box(space-between,center);
          padding: 10px 0;
          .name {
            min-width: 40px;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .icon-yunxiazai_o {
            margin: 0 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .search-result {
    margin-left: 10px;
  }
}
